<div class="container">
  <div class="row">
    <div class="col-md-3 my-3" *ngFor="let articulo of articulos">
      <div class="card">
      <img class="card-img-top" src="{{articulo.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{articulo.nombre}}</h5>
        <p class="card-text">{{articulo.descripcion}}</p>
        <div class="row">
          <div class="col-6">
            Precio: {{articulo.precio}}
          </div>
          <div class="col-6">
            Cantidad: {{articulo.cantidad}}
          </div>
        </div>
        <button class="btn btn-primary my-3"> Agregar</button>
      </div>
      </div>
    </div>
  </div>
</div>